{{ ("=" * 50 + " START") | translucent }}
⠀
⠀
⠀
{% for state in states %}
{{ state.name | header }}
{% for task in state.tasks %}
    {%- if task.status != TaskStatus.NOT_SUBMITTED %}
    {{ task.name }}: {{ colorize(task.status.value, task.status) }} {% if task.description %}{{ colorize("(" + task.description + ")", task.status) }}{% endif %}
    {%- for log_line in task.logs.split("\n")[:-1] %}
        {{ colorize(log_line, task.status) }}
    {%- endfor -%}
    {% endif -%}
{%- endfor %}
⠀
⠀
⠀
{% endfor %}
Accepted tasks: {{ accepted_task_names_string }}
Rejected tasks: {{ rejected_task_names_string }}
Not submitted tasks: {{ not_submitted_task_names_string }}
⠀
⠀
⠀
{{ ("=" * 50 + " END") | translucent }}